$accent = #6c5ce7
$accent-secondary = #A29BFE
$text = #111028
$text-secondary = alpha($text, 0.54)
$text-tertiary = alpha($text, 0.38)
$bg = #fff
$bg-secondary = #f4f3ff
$bg-tertiary = #fafaff
$negative-saturated = #d63031
$negative = #ff7675
$positive-saturated = #00b894
$positive = #55efc4
$warning-saturated = #fdcb6e
$warning = #ffeaa7
