$accent = #6c5ce7
$accent-secondary = #A29BFE

$text = #111028
$text-secondary = alpha($text, 0.54)
$text-tertiary = alpha($text, 0.38)

$bg = #fff
$bg-secondary = #f4f3ff
$bg-tertiary = #fafaff

$text-dark = $bg
$text-secondary-dark = alpha($bg, 0.7)
$text-tertiary-dark = alpha($bg, 0.5)

$bg-dark = #1E1D22
$bg-secondary-dark = #2B2A32
$bg-tertiary-dark = #343244

$negative-saturated = #d63031
$negative = #ff7675
$positive-saturated = #00b894
$positive = #55efc4
$warning-saturated = #fdcb6e
$warning = #ffeaa7
