@require 'breakpoints'
@require 'colors'
@require 'corners'

.split-title
  margin-top: 0
  margin-bottom: 3rem

  @media $mobile
    text-align: center
    margin-bottom: 2rem

.rows.field > .container,
.columns.field > .container
  border: 0.0625rem solid alpha($text, 0.12)
  border-radius: $radius-l
  padding: 1rem

  &.dark
    border-color: alpha($text-dark, 0.12)

    .label,
    .empty-state
      color: $text-secondary-dark

  &.error
    border-color: $negative
    border-width: 0.125rem

    > .label
      color: $negative-saturated

  > .label
    margin-top: 0
    margin-bottom: 0.5rem
    color: $text-secondary
    font-size: 0.75rem

  .empty-state
    text-align: center
    color: $text-secondary

.localised-fields-container,
.group.field > .display-wrapper,
.image.field > .display-wrapper,
.row-item,
.column-item
  display: flex
  align-items: center
  background-color: $bg-secondary
  border-radius: $radius-m
  padding: 1rem
  overflow: hidden
  cursor: pointer
  position: relative
  transition: background-color 200ms ease

  &.dark
    background-color: $bg-secondary-dark

    &.in-split
      background-color: $bg-tertiary-dark

      &:hover
        background-color: lighten($bg-tertiary-dark, 5)

      &:active
        background-color: $bg-secondary-dark

    &:hover
      background-color: $bg-tertiary-dark

    &:active
      background-color: $bg-dark

    .left
      .label:not(.unstyled)
        color: $text-secondary-dark

      .content.empty
        color: $text-tertiary-dark

  &.error
    &::before
      border-color: $negative
      opacity: 1

    &:focus-visible::before
      border-color: $accent

    .left .label:not(.unstyled), // needed because the :not makes it more specific in the other cases, but we want styled and unstyled ones to be red
    .left .label,
    .icon
      color: $negative-saturated

  &:hover
    background-color: $bg-tertiary

  &:focus-visible,
  &:active
    &::before
      opacity: 1

  &:active
    transform: translateY(0.125rem)
    background-color: $bg

  &.active
    background-color: $accent
    color: $text-dark

    &.error
      .icon
        color: $text-dark

    &:hover,
    &:focus-visible
      background-color: darken($accent, 5)

    .left
      .label:not(.unstyled)
        color: $text-secondary-dark

      .content.empty
        color: $text-tertiary-dark

  &::before
    content: ''
    position: absolute
    top: 0px
    left: @top
    right: @top
    bottom: @top
    border: 0.125rem solid $accent
    opacity: 0
    border-radius: inherit
    z-index: 1
    pointer-events: none
    transition: opacity 200ms ease

  .left
    margin-right: 1rem
    overflow: hidden

    > p
      margin-top: 0
      margin-bottom: 0
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

    .label:not(.unstyled)
      font-size: 0.875rem
      color: $text-secondary

    .content.empty
      color: $text-tertiary

  .icon
    flex-shrink: 0
    margin-left: auto
